version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    depends_on:
      - postgres
    networks:
      - mynetwork

  postgres:
    image: postgres:latest
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: sportfirst
    ports:
      - "5432:5432"
    networks:
      - mynetwork
    # volumes:
    # - SportFirstVolume:/var/lib/postgresql/data
    # - ./scripts/init-db:/docker-entrypoint-initdb.d

  pgadmin:
    image: dpage/pgadmin4
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@sportfirst.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "8081:80"
    networks:
      - mynetwork

networks:
  mynetwork:
    # driver: bridge

# volumes:
#   SportFirstVolume: {}
