Flask # web framework
Flask-RESTful # RESTful API
psycopg2-binary # = psycopg2; connection to PostgreSQL
sqlparse # PostgreSQL
bcrypt # password hashing
pytest # testing
gunicorn # render
connectors # for pytest