Flask # web framework
Flask-RESTful # RESTful API
psycopg2-binary # = psycopg2; PostgreSQL
sqlparse # PostgreSQL
bcrypt # password hashing
logging # logging
pytest # testing
gunicorn # render
connectors # for pytest